rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Matches any document in the 'users' collection or subcollections.
    match /users/{document=**} {
      allow read: if isSignedIn();
    }
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwnDocument(docId) {
    	return request.auth.uid == docId;
    }
    
    match /users/{docId} {
      allow write: if isOwnDocument(docId);
    }
    
    match /runs/{document=**} {
      // Allow the client to update a document only if that document doesn't
      // change the startTime or endTime fields
      allow update: if (!request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['startTime', 'endTime'])) && isSignedIn();
    }
  }
}